<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified mb-4">
      <li class="nav-item"><a href="#" class="nav-link">ユーザプロフィール</a></li>
      <li class="nav-item"><a href="#" class="nav-link">開催交流会</a></li>
      <li class="nav-item"><a href="#" class="nav-link">参加交流会</a></li>
    </ul>
  </div>
</div>