<% if logged_in? %>
  <div class="row">
    <h1>交流会一覧</h1>
    <div class="col-sm-12">
      <%= render 'meetings/meetings', meetings: @meetings %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>BizChain</h1>
    <h2>異業種間交流会管理アプリ</h2>
    <%= link_to '登録はこちら', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>